* text=auto # "End of line" Normalization
*.3dm binary # 3D Model
*.3ds binary # 3D Model
*.3gp binary # Video
*.3gpp binary # Video
*.7z binary # Archive
*.FBX binary # 3D Model
*.R text
*.Rd text
*.Rdata text
*.Rdx binary
*.Rmd text
*.a binary # Compiled Unit / Compiler Compiled Code / ETC
*.aac binary
*.ac3 binary
*.ada text diff=ada # Ada
*.adb text diff=ada # Ada
*.adoc text
*.ads text diff=ada # Ada
*.ai binary
*.aif binary # Audio
*.aiff binary # Audio
*.amr binary
*.anim eol=lf # Unity YAML
*.ape binary
*.apk binary # Executable / Installer
*.app binary
*.as text # text for ActionScript, binary otherwise (Video)
*.asc text # ActionScript
*.asf binary # Video
*.asset eol=lf # Unity YAML
*.asx binary # Video
*.avi binary
*.bak binary # Backup
*.bal text
*.balx binary
*.bash text eol=lf diff=php
*.bat text eol=crlf
*.bibtex text diff=bibtex
*.blend binary # 3D Model
*.bmp binary
*.bowerrc text # Config
*.bz2 binary # Archive
*.c text diff=c
*.c++ text diff=cpp
*.c4d binary # 3D Model
*.cc text diff=cpp
*.cfg text # Config File
*.cginc text # Unity
*.chm binary # Compiled Help File
*.class binary
*.cmd text eol=crlf
*.cnf text # Config
*.coffee text
*.collada binary # 3D Model
*.compiled text # Compilation Session
*.conf text # Config
*.config text # Config
*.controller eol=lf # Unity YAML
*.cpp text diff=cpp
*.cs text diff=csharp # Unity
*.cso binary # Archive
*.csproj text eol=crlf
*.css text diff=css
*.csv text
*.cubemap binary # Unity LFS
*.cxx text diff=cpp
*.dae binary # 3D Model
*.db binary
*.dbf binary # Database File
*.dbi -text
*.dbproj text eol=crlf
*.df text
*.dfm text # Delphi Module
*.dib binary
*.dist text
*.dll binary # Compiled Dynamic Library
*.doc diff=word # Microsoft Office
*.dockerignore text # Docker
*.docx diff=word # Microsoft Office
*.dof text # Delphi Project Options File
*.dot text diff=astextplain # Template
*.dsk binary # Delphi Desktop Configuration
*.dtd text
*.dxf binary # 3D Model
*.dylib binary
*.ear binary
*.ejs text # Template
*.engine text eol=lf diff=php
*.eot binary # Font
*.eps binary
*.exe binary
*.exr binary # Image
*.f text diff=fortran # Fortran
*.f03 text diff=fortran # Fortran
*.f90 text diff=fortran # Fortran
*.f95 text diff=fortran # Fortran
*.fbx binary # 3D Model
*.fdx text # Fountain
*.fig binary
*.filters text eol=crlf
*.fla text # text for Adobe Flash Authoring, binary otherwise
*.flac binary
*.flv binary
*.for text diff=fortran # Fortran
*.fountain text diff=fountain # Fountain
*.frm -text
*.fsproj text eol=crlf
*.gch binary
*.gif binary
*.gifv binary
*.gitattributes text # Git
*.go diff=golang
*.gradle text diff=java
*.gradle.kts text diff=java
*.gz binary # Archive
*.h text diff=c
*.h++ text diff=cpp
*.haml text # Template
*.handlebars text # Template
*.hbs text # Template
*.hbt text # Template
*.hdr binary # Image
*.heic binary
*.hh text diff=cpp
*.hlp binary # Help File
*.hpp text diff=cpp
*.htm text diff=html
*.html text diff=html
*.ico binary
*.iff binary # Image
*.inc text # Include File
# *.inc text eol=lf diff=php # for php only
*.ini text # Initialization File
*.install text eol=lf diff=php
*.ipynb text # Jupyter Notebook
*.iso binary # Archive
*.it binary # Audio
*.jade text # Template
*.jar binary # Archive
*.jas binary # 3D Model
*.java text diff=java
*.jfif binary
*.jng binary
*.jp2 binary
*.jpe binary
*.jpeg binary
*.jpg binary
*.jpx binary
*.js text
*.jsfl text # Flash JavaScript
*.json text
*.jsp text
*.jspf text
*.jspx text
*.jsx text
*.jxr binary
*.kar binary # Audio
*.la binary
*.lai binary
*.latte text # Template
*.less text
*.lfm text # Lazarus Form File
*.lib binary
*.lo binary
*.lock text # Config
*.lpi text # Lazarus Project Information File
*.lpk text # Lazarus Package Information File
*.lpr text # Lazarus Program File
*.lps text # Lazarus Project Session File
*.lrs text # text for Lazarus Resource File, binary for Windows Resource File
*.lrt text # Lazarus Resourcestring Table
*.ls text
*.lsproj text eol=crlf
*.lua text
*.lws binary # 3D Model
*.lxo binary # 3D Model
*.m text diff=matlab # diff=matlab for default, diff=objc for Mathematica packages
*.m4a binary
*.m4b binary
*.m4r binary
*.m4v binary
*.ma binary # 3D Model
*.map text
*.map text
*.markdown text
*.mat binary
*.mat eol=lf # Unity YAML
*.max binary # 3D Model
*.mb binary # 3D Model
*.md text
*.mdl binary
*.mdlp binary
*.mdown text
*.mdtext text
*.mdtxt text
*.mdwn text
*.mdx binary # Multiple Index File
*.meta eol=lf # Unity YAML
*.mex* binary
*.mid binary # Audio
*.midi binary
*.mkd text
*.mkdn text
*.mkv binary
*.mlappinstall binary
*.mlpkginstall binary
*.mltbx binary
*.mmf binary
*.mn binary
*.mng binary # Video
*.mod binary # Audio
*.modelproj text eol=crlf
*.module text eol=lf diff=php
*.mov binary
*.mp2 binary
*.mp3 binary
*.mp4 binary
*.mpeg binary
*.mpg binary
*.mu text diff=matlab
*.mustache text # Template
*.njk text # Template
*.npmignore text # Config
*.o binary # Compiled Unit / Compiler Compiled Code 
*.obj binary # 3D Model
*.od text
*.ods binary # OpenOffice
*.odt diff=odt # OpenDocument
*.ogg binary
*.ogv binary # Video
*.onlydata text
*.or text # Object Resource
*.otf binary # Font
*.out binary
*.p text diff=pascal # text for Pascal code, binary otherwise
*.pas text diff=pascal # Unit With Pascal Code
*.pbm binary # Portable Bitmap
*.pbxproj text # text for Xcode, binary otherwise
*.pch binary
*.pdb binary # Compiled Dynamic Library
*.pdf binary # text when editable, binary otherwise
*.pgm binary # Portable Graymap
*.phar binary
*.php text eol=lf diff=php
*.phtml text # Template
*.physicMaterial eol=lf
*.physicMaterial2D eol=lf
*.physicsMaterial eol=lf
*.physicsMaterial2D eol=lf
*.pickle binary
*.pict binary # Image
*.pkl binary
*.pl text diff=perl
*.ply binary # 3D Model
*.pm text diff=perl
*.png binary
*.po text # Gettext Portable Object
*.pp text diff=pascal # Pascal code
*.ppm binary # Portable Pixmap
*.ppu binary # Compiled Unit, Symbol Part
*.prefab eol=lf # Unity YAML
*.proFile text eol=lf diff=php
*.properties text
*.props text eol=crlf
*.ps text # PostScript
*.ps1 text eol=crlf
*.psb binary
*.psd binary
*.pxd text diff=python
*.py text diff=python
*.py3 text diff=python
*.pyc text diff=python # text for Python, binary otherwise (Executable)
*.pyd text diff=python
*.pyo text diff=python
*.pyw text diff=python
*.pyx text diff=python
*.pyz text diff=python
*.ra binary # Audio
*.rar binary # Archive
*.rb text diff=ruby
*.rc text # Lazarus Eesource File
*.rdb binary
*.rds binary
*.reason binary # ETC
*.rel -text
*.res text # Resource File
*.rns binary # ETC
*.rsj text # Resourcestring Table (JSON, FPC 2.7.1)
*.rst text # Resourcestring Table
*.rtf text
*.s3m binary # Audio
*.sass text
*.scm text
*.script text
*.scss text diff=css
*.sec -text
*.sh text eol=lf diff=php
*.shader text # Unity
*.skp binary # 3D Model
*.sldd binary
*.sln text eol=crlf
*.slo binary
*.slx binary
*.slxp binary
*.so binary # Compiled Dynamic Library
*.sql text
*.sqlproj text eol=crlf
*.stl binary # 3D Model
*.styl text
*.svg text
*.svgz binary
*.swc binary # Compiled Flash / Video
*.swf binary # Compiled Flash
*.swift text diff=swift
*.tab text
*.tag text
*.tagx text
*.tar binary # Archive
*.tbl -text
*.tex text diff=tex
*.textile text
*.tga binary
*.theme text eol=lf diff=php
*.tif binary
*.tiff binary
*.tld text
*.tmpl text # Template
*.toml text
*.tpl text # Template
*.ts text # text for TypeScript, binary for other
*.tsv text
*.tsx text # TypeScript
*.ttf binary # Font
*.twig text # Template
*.txt text
*.unity eol=lf # Unity YAML
*.unitypackage binary # Unity LFS
*.val -text
*.vbproj text eol=crlf
*.vcproj text eol=crlf
*.vcxitems text eol=crlf
*.vcxproj text eol=crlf
*.vob binary
*.vue text # Template
*.war binary
*.wav binary
*.wbmp binary
*.webm binary
*.webp binary
*.wixproj text eol=crlf
*.wma binary
*.wmaproj text eol=crlf
*.wmv binary
*.woff binary # Font
*.woff2 binary # Font
*.wv binary
*.xhtml text diff=html
*.xls binary # Microsoft Office
*.xlsx binary # Microsoft Office
*.xm binary # Audio
*.xml text
*.xpm binary # Pixmap
*.xproj text eol=crlf
*.xps binary
*.xsd text
*.xsl text
*.yaml text # Config
*.yml text # Config
*.zip binary # Archive
*.ztl binary # 3D Model
*COPYRIGHT* text
*README* text
.babelrc text # Config
.browserslistrc text # Config
.csslintrc text # Linter
.editorconfig text # Config
.env text # Config
.eslintrc text # Linter
.gitattributes text # Git Config
.gitconfig text # Git Config
.gitignore text # Git
.htaccess text # Config
.htmlhintrc text # Linter
.jscsrc text # Linter
.jshintignore text # Linter
.jshintrc text # Linter
.slugignore text # Heroku
.stylelintrc text # Linter
AUTHORS text
CHANGELOG text
CHANGES text
CONTRIBUTING text
COPYING text
DockerFile text # Docker
INSTALL text
LICENSE text
MakeFile text # Config
NEWS text
ProcFile text # Heroku
TODO text
browserslist text # Config
copyright text
license text
makeFile text # Config
package-lock.json text # Config
readme text
schema.rb diff=ruby
