# ==================
# hugoalh's Repository Resource - Git Module
#   Language:
#     Git-Configuration
#   Last Update:
#     2019-11-11
# ==================
[submodule "icon"]
	path = icon
	url = https://github.com/hugoalh/Library.SVG.Icon.git
[submodule "script/javascriptmacro"]
	path = script/javascriptmacro
	url = https://github.com/hugoalh/JavaScriptMacro.git
