# ==============================================================================
# hugoalh's Repository Resource - Git Ignore
#   Author:
#     hugoalh
#   Language:
#     Git-Configuration
#   Last Update:
#     2019-10-24
# ==============================================================================
[submodule "icon"]
	path = icon
	url = https://github.com/hugoalh/Library.SVG.Icon.git
