/*==================================================
Font, Gothic A1
	Author
		HanYang I&C Co Ltd
	Program Language
		CSS 3
	Source
		https://www.google.com/get/noto/
==================================================*/
@font-face {
	font-family: "Gothic A1";
	src: local("GothicA1-Regular"), local("Gothic A1 Regular"),
		url("/font/gothic-a1_regular.ttf") format("truetype");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Gothic A1";
	src: local("GothicA1-Bold"), local("Gothic A1 Bold"),
		url("/font/gothic-a1_bold.ttf") format("truetype");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}
