/*==================================================================================================
Font, Minecraft
Author:				JDGraphics Fonts, Jacob Debono
Program Language:	CSS 3
Source:				http://www.fontspace.com/jdgraphics/minecraft
==================================================================================================*/
@font-face {
	font-family: "Minecraft";
	src: local("Minecraft-Regular"), local("Minecraft Regular"),
		url("/font/minecraft_regular.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Minecraft";
	src: local("Minecraft-Bold"), local("Minecraft Bold"),
		url("/font/minecraft_bold.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Minecraft";
	src: local("Minecraft-Italic"), local("Minecraft Italic"),
		url("/font/minecraft_italic.otf") format("opentype");
	font-stretch: normal;
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Minecraft";
	src: local("Minecraft-BoldItalic"), local("Minecraft Bold Italic"),
		url("/font/minecraft_bold-italic.otf") format("opentype");
	font-stretch: normal;
	font-style: italic;
	font-weight: bold;
}
