/*==================================================================================================
Font, Noto, Emoji
Author:					Google, Monotype Imaging Inc
Source:					https://www.google.com/get/noto/
Programming Language:	CSS 3
==================================================================================================*/
@font-face
{
	font-family: "Noto Emoji Mono";
	src: local("NotoEmoji"), local("Noto Emoji"),
		url("/font/noto_emoji_mono.ttf") format("truetype");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "Noto Emoji Colour";
	src: local("NotoColorEmoji"), local("Noto Color Emoji"),
		url("/font/noto_emoji_colour.ttf") format("truetype");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
