/*==================================================================================================
Font, Noto, Sans
Author:				Google, Monotype Imaging Inc, Adobe Systems Inc
Program Language:	CSS 3
Source:				https://www.google.com/get/noto/
==================================================================================================*/
@font-face {
	font-family: "Noto Sans";
	src: local("NotoSans-Regular"), local("Noto Sans Regular"),
		url("/font/noto_sans_regular.ttf") format("truetype");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Noto Sans";
	src: local("NotoSans-Bold"), local("Noto Sans Bold"),
		url("/font/noto_sans_bold.ttf") format("truetype");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Noto Sans";
	src: local("NotoSans-Italic"), local("Noto Sans Italic"),
		url("/font/noto_sans_italic.ttf") format("truetype");
	font-stretch: normal;
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Noto Sans";
	src: local("NotoSans-BoldItalic"), local("Noto Sans Bold Italic"),
		url("/font/noto_sans_bold-italic.ttf") format("truetype");
	font-stretch: normal;
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: "Noto Sans ZH";
	src: local("NotoSansTC-Regular"), local("Noto Sans TC Regular"),
		url("https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2") format("woff2"),
		url("/font/noto_sans_zh_regular.woff2") format("woff2"),
		url("https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff") format("woff"),
		url("/font/noto_sans_zh_regular.woff") format("woff"),
		url("https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf") format("opentype"),
		url("/font/noto_sans_zh_regular.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Noto Sans ZH";
	src: local("NotoSansTC-Bold"), local("Noto Sans TC Bold"),
		url("https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2") format('woff2'),
		url("/font/noto_sans_zh_bold.woff2") format("woff2"),
		url("https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff") format('woff'),
		url("/font/noto_sans_zh_bold.woff") format("woff"),
		url("https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf") format('opentype'),
		url("/font/noto_sans_zh_bold.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Noto Sans ZHS";
	src: local("NotoSansSC-Regular"), local("Noto Sans SC Regular"),
		url("https://fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff2") format('woff2'),
		url("/font/noto_sans_zhs_regular.woff2") format("woff2"),
		url("https://fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff") format('woff'),
		url("/font/noto_sans_zhs_regular.woff") format("woff"),
		url("https://fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.otf") format('opentype'),
		url("/font/noto_sans_zhs_regular.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Noto Sans ZHS";
	src: local("NotoSansSC-Bold"), local("Noto Sans SC Bold"),
		url("https://fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.woff2") format('woff2'),
		url("/font/noto_sans_zhs_bold.woff2") format("woff2"),
		url("https://fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.woff") format('woff'),
		url("/font/noto_sans_zhs_bold.woff") format("woff"),
		url("https://fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.otf") format('opentype'),
		url("/font/noto_sans_zhs_bold.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Noto Sans JP";
	src: local("NotoSansJP-Regular"), local("Noto Sans JP Regular"),
		url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2") format('woff2'),
		url("/font/noto_sans_jp_regular.woff2") format("woff2"),
		url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff") format('woff'),
		url("/font/noto_sans_jp_regular.woff") format("woff"),
		url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf") format('opentype'),
		url("/font/noto_sans_jp_regular.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Noto Sans JP";
	src: local("NotoSansJP-Bold"), local("Noto Sans JP Bold"),
		url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2") format('woff2'),
		url("/font/noto_sans_jp_bold.woff2") format("woff2"),
		url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff") format('woff'),
		url("/font/noto_sans_jp_bold.woff") format("woff"),
		url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf") format('opentype'),
		url("/font/noto_sans_jp_bold.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}
