/*================
Font Face - Noto Sans
	Author
		Google
		Monotype Imaging Inc
		Adobe Systems Inc
	Language
		CSS 3
	Source
		https://www.google.com/get/noto/
================*/
@font-face {
	font-family: "Noto Sans";
	src: local("NotoSans-Regular"), local("Noto Sans Regular"),
		url("/font/noto_sans_regular.ttf") format("truetype");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Noto Sans";
	src: local("NotoSans-Bold"), local("Noto Sans Bold"),
		url("/font/noto_sans_bold.ttf") format("truetype");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Noto Sans ZH";
	src: local("NotoSansTC-Regular"), local("Noto Sans TC Regular"), local("Noto Sans CJK TC Regular"),
		url("/font/noto_sans_zh_regular.woff2") format("woff2"),
		url("/font/noto_sans_zh_regular.woff") format("woff"),
		url("/font/noto_sans_zh_regular.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Noto Sans ZH";
	src: local("NotoSansTC-Bold"), local("Noto Sans TC Bold"), local("Noto Sans CJK TC Bold"),
		url("/font/noto_sans_zh_bold.woff2") format("woff2"),
		url("/font/noto_sans_zh_bold.woff") format("woff"),
		url("/font/noto_sans_zh_bold.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Noto Sans JP";
	src: local("NotoSansJP-Regular"), local("Noto Sans JP Regular"), local("Noto Sans CJK JP Regular"),
		url("/font/noto_sans_jp_regular.woff2") format("woff2"),
		url("/font/noto_sans_jp_regular.woff") format("woff"),
		url("/font/noto_sans_jp_regular.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Noto Sans JP";
	src: local("NotoSansJP-Bold"), local("Noto Sans JP Bold"), local("Noto Sans CJK JP Bold"),
		url("/font/noto_sans_jp_bold.woff2") format("woff2"),
		url("/font/noto_sans_jp_bold.woff") format("woff"),
		url("/font/noto_sans_jp_bold.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Noto Sans KR";
	src: local("NotoSansKR-Regular"), local("Noto Sans KR Regular"), local("Noto Sans CJK KR Regular"),
		url("/font/noto_sans_kr_regular.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Noto Sans KR";
	src: local("NotoSansKR-Bold"), local("Noto Sans KR Bold"), local("Noto Sans CJK KR Bold"),
		url("/font/noto_sans_kr_bold.otf") format("opentype");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}
