/*==================================================================================================
Font, Minecraft
Author:					JDGraphics, jacobdebono3
Source:					http://www.fontspace.com/jdgraphics/minecraft
Programming Language:	CSS 3
==================================================================================================*/
@font-face
{
	font-family: Minecraft;
	src: url(/assets/font/minecraft_regular.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: Minecraft;
	src: url(/assets/font/minecraft_bold.otf);
	font-style: normal;
	font-weight: bold;
}
@font-face
{
	font-family: Minecraft;
	src: url(/assets/font/minecraft_italic.otf);
	font-style: italic;
	font-weight: normal;
}
@font-face
{
	font-family: Minecraft;
	src: url(/assets/font/minecraft_bold-italic.otf);
	font-style: italic;
	font-weight: bold;
}
